
#main_block {
	margin: 100px 400px 50px 500px;
	
	
}
.block {
	background-color: grey;
	border: 1px solid white;
	height: 150px;
	width: 150px;
	float: left;
	padding: 0px;
	margin: 0px;
	text-align: center;
	color: white;
	font-size: 45px;
	font-style: normal;
}

/* buttons */

#main_btns {
	margin: 100px 468px 50px 300px;

}
button {
	float: right;
	width: 180px;
	height: 40px;
	margin: 5px 3px 0px 0px;
	padding-top: 5px;
	text-align: center;
}

	
	

	

